.active {
  border-bottom: 4px solid #61DAFB;
  color: #61DAFB !important;
}

.navbar {
  padding-bottom: 0px !important;
}

.active.navbar-brand {
  border-bottom: none;
}

@media screen and (max-width : 992px) {
  .active {
    border-bottom: none;
    color: #61DAFB !important;
  }
}
